<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="hu.kukutyin.fifth.dao.mapper.MoveMapper" >
    <resultMap id="baseResultMap" type="hu.kukutyin.fifth.domain.Move" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="rate" property="rate" jdbcType="INTEGER" />
    </resultMap>

    <select id="findAll" resultMap="baseResultMap">
        <![CDATA[

                SELECT id
                      ,name
                      ,description
                      ,rate
                  FROM moves

                ]]>
    </select>
</mapper>
